<!DOCTYPE HTML>
<html>
	<head>
		 <meta charset="UTF-8">
        <title>Steam Weight</title>


        <link href="../css/css/bootstrap.css"" rel="stylesheet" />
        <link href="../css/css/bootstrap-theme.css" rel="stylesheet" />
         <link href="../css/css/css.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/css/main.css" />


	</head>
	<body>

        <div class="row">
        <div class="col-md-12">
			<!-- Header -->
				<div style="background-color: #000d1a;"  id="header-wrapper">
					<div id="header" class="container">

						<!-- Banner -- 76403.46 pounds in pennies -->
							<h1 id="logo">Steam Currently Weighs: </h1><br />
                            <h1 id="logo">4603.43 pounds</h1>
                            <p>Last updated: 5/5/2017</p>

						<!-- Nav -->
                            <nav id="nav">
								<ul>
									<li><a class="icon fa-child" href="#"><span>Physical Weight</span></a></li>
									<li><a class="icon fa-dollar" href="#"><span>Value Weight</span></a></li>
								</ul>
                            </nav>

					</div>
				</div>
        </div>
        </div>


            <!-- Body -->
        <div class="container-fluid">
        <div class="col-md-3"></div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 style="text-align:center;">Search Account:</h2>
                <form method="GET">
                    <input class="form-control input-lg" placeholder="Search" type="text" name="searchAccount">
                    <button style="background-color:#000d1a; padding-top:6px; " type="submit" id="searchbutton1"><span class="icon fa-search"></span></button>
                </form>
            </div>
        </div>

        </div>





		</div>



	</body>
</html>